h1 {
    text-align: center;
    font: 80px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5); 
  }

p {
    text-align: justify;
    font: 16px Helvetica, Sans-serif;
    color: rgb(162, 0, 255);
  }

#title {
    text-align: center;
    font: 40px Helvetica, Sans-serif;
    color: rgb(162, 0, 255);
}


.button {
    background-color: rgba(0,0,255,0.5);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }



  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.link_play {
    text-align: center;
}